Source: tinyframe
Section: net
Priority: optional
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Build-Depends: debhelper (>= 8.0.0), build-essential, automake, autoconf,
 libtool, pkg-config
Standards-Version: 3.9.4
Homepage: https://github.com/DNS-OARC/tinyframe
Vcs-Git: https://github.com/DNS-OARC/tinyframe.git
Vcs-Browser: https://github.com/DNS-OARC/tinyframe

Package: libtinyframe0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Frame Streams encoder/decoder library
 Minimalistic library for encoding and decoding the Frame Streams protocol.

Package: libtinyframe-dev
Architecture: any
Depends: libtinyframe0, ${misc:Depends}
Description: Frame Streams encoder/decoder library
 Minimalistic library for encoding and decoding the Frame Streams protocol.
